@media(max-width: 650px) {
  /* .hero-area {
    background-image: url('../images/backgrounds/bgM1.svg') !important
  }   */

  .image {
    min-height: 240px !important;
  }

  .none{
    display: none;
  }
}

.hero-area {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
}
