{{ $data := index site.Data site.Language.Lang }}

{{ if $data.feature.feature.enable }}
{{ with $data.feature.feature }}
{{"<!-- feature -->" | safeHTML}}
<section class="section section-bg about-2 padding-0" id="feature" style="padding: 70px 15px 0 !important;">
	<div class="container-fluid">
		<div class="row" style="display: flex; justify-content: space-around;">
			<div class="col-lg-5 padding-0 image" style=" background-image: url('images/nexus.jpeg'); background-size: contain; background-position: top center; background-repeat: no-repeat; min-height: 400px;">
				<!-- this image is for trigger this section fallback background image -->
				<img src="images/nexus.jpeg" style="display: none;" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .image | absURL }})'">
			</div>
			<div class="col-lg-5 padding-0 image" style=" background-image: url('images/timeline1.png'); background-size: contain; background-position: top center; background-repeat: no-repeat; min-height: 400px;">
				<!-- this image is for trigger this section fallback background image -->
				<img src="images/timeline1.png" style="display: none;" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .image | absURL }})'">
			</div>
		</div>
	</div>
</section>
{{"<!-- /feature -->" | safeHTML}}
{{ end }}
{{ end }}
